<div>
  <h2 id="page-heading" data-cy="PlaylistSongHeading">
    <span jhiTranslate="musicPlayerApp.playlistSong.home.title">Playlist Songs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="musicPlayerApp.playlistSong.home.refreshListLabel">Refrescar lista</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (playlistSongs().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="musicPlayerApp.playlistSong.home.notFound">Ningún Playlist Songs encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="position">
              <div class="d-flex">
                <span jhiTranslate="musicPlayerApp.playlistSong.position">Position</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="addedAt">
              <div class="d-flex">
                <span jhiTranslate="musicPlayerApp.playlistSong.addedAt">Added At</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="playlist.id">
              <div class="d-flex">
                <span jhiTranslate="musicPlayerApp.playlistSong.playlist">Playlist</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="song.id">
              <div class="d-flex">
                <span jhiTranslate="musicPlayerApp.playlistSong.song">Song</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (playlistSong of playlistSongs(); track trackId(playlistSong)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/playlist-song', playlistSong.id, 'view']">{{ playlistSong.id }}</a>
              </td>
              <td>{{ playlistSong.position }}</td>
              <td>{{ playlistSong.addedAt | formatMediumDatetime }}</td>
              <td>
                @if (playlistSong.playlist) {
                  <div>
                    <a [routerLink]="['/playlist', playlistSong.playlist.id, 'view']">{{ playlistSong.playlist.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (playlistSong.song) {
                  <div>
                    <a [routerLink]="['/song', playlistSong.song.id, 'view']">{{ playlistSong.song.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/playlist-song', playlistSong.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
