<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-song-heading" data-cy="SongCreateUpdateHeading" jhiTranslate="musicPlayerApp.song.home.createOrEditLabel">
        Crear o editar Song
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let titleRef = editForm.get('title')!;
        <div class="mb-3">
          <label class="form-label" for="field_title" jhiTranslate="musicPlayerApp.song.title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          @if (titleRef.invalid && (titleRef.dirty || titleRef.touched)) {
            <div>
              @if (editForm.get('title')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('title')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '150' }"
                  >Este campo no puede superar más de 150 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_duration" jhiTranslate="musicPlayerApp.song.duration">Duration</label>
          <input type="number" class="form-control" name="duration" id="field_duration" data-cy="duration" formControlName="duration" />
        </div>

        @let fileUrlRef = editForm.get('fileUrl')!;
        <div class="mb-3">
          <label class="form-label" for="field_fileUrl" jhiTranslate="musicPlayerApp.song.fileUrl">File Url</label>
          <input type="text" class="form-control" name="fileUrl" id="field_fileUrl" data-cy="fileUrl" formControlName="fileUrl" />
          @if (fileUrlRef.invalid && (fileUrlRef.dirty || fileUrlRef.touched)) {
            <div>
              @if (editForm.get('fileUrl')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('fileUrl')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >Este campo no puede superar más de 255 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let coverImageRef = editForm.get('coverImage')!;
        <div class="mb-3">
          <label class="form-label" for="field_coverImage" jhiTranslate="musicPlayerApp.song.coverImage">Cover Image</label>
          <input
            type="text"
            class="form-control"
            name="coverImage"
            id="field_coverImage"
            data-cy="coverImage"
            formControlName="coverImage"
          />
          @if (coverImageRef.invalid && (coverImageRef.dirty || coverImageRef.touched)) {
            <div>
              @if (editForm.get('coverImage')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >Este campo no puede superar más de 255 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lyrics" jhiTranslate="musicPlayerApp.song.lyrics">Lyrics</label>
          <textarea class="form-control" name="lyrics" id="field_lyrics" data-cy="lyrics" formControlName="lyrics"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_releaseDate" jhiTranslate="musicPlayerApp.song.releaseDate">Release Date</label>
          <div class="input-group">
            <input
              id="field_releaseDate"
              data-cy="releaseDate"
              type="text"
              class="form-control"
              name="releaseDate"
              ngbDatepicker
              #releaseDateDp="ngbDatepicker"
              formControlName="releaseDate"
            />
            <button type="button" class="btn btn-secondary" (click)="releaseDateDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdAt" jhiTranslate="musicPlayerApp.song.createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_album" jhiTranslate="musicPlayerApp.song.album">Album</label>
          <select class="form-control" id="field_album" data-cy="album" name="album" formControlName="album" [compareWith]="compareAlbum">
            <option [ngValue]="null"></option>
            @for (albumOption of albumsSharedCollection(); track $index) {
              <option [ngValue]="albumOption">{{ albumOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_genre" jhiTranslate="musicPlayerApp.song.genre">Genre</label>
          <select class="form-control" id="field_genre" data-cy="genre" name="genre" formControlName="genre" [compareWith]="compareGenre">
            <option [ngValue]="null"></option>
            @for (genreOption of genresSharedCollection(); track $index) {
              <option [ngValue]="genreOption">{{ genreOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_artistses" jhiTranslate="musicPlayerApp.song.artists">Artists</label>
          <select
            class="form-control"
            id="field_artistses"
            data-cy="artists"
            multiple
            name="artistses"
            formControlName="artistses"
            [compareWith]="compareArtist"
          >
            @for (artistOption of artistsSharedCollection(); track $index) {
              <option [ngValue]="artistOption">{{ artistOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
