<div class="editor-header">
  <h2>{{ song?.id ? 'Editar Canción' : 'Crear Canción' }}</h2>

  <p>
    {{
      song?.id
        ? 'Modifica la información, portada, audio y letra de la canción.'
        : 'Completa los datos para añadir una nueva canción al catálogo.'
    }}
  </p>
</div>
<form [formGroup]="editForm" class="song-editor">
  <div class="song-editor-left">
    <div class="cover-box">
      @if (coverPreviewUrl) {
        <img [src]="coverPreviewUrl" />
      } @else {
        <div class="cover-placeholder">Sin portada</div>
      }
    </div>

    <label>Cover</label>
    <input type="file" (change)="onCoverSelected($event)" accept="image/png,image/jpeg,image/webp" />
  </div>

  <div class="song-editor-main">
    <div class="field">
      <label>Título</label>
      <input type="text" formControlName="title" />
    </div>

    <div class="field">
      <label>Género</label>
      <select formControlName="genre">
        @for (g of genresSharedCollection(); track $index) {
          <option [ngValue]="g">{{ g.name ?? g.id }}</option>
        }
      </select>
    </div>

    <div class="audio-row">
      <div class="audio-field">
        <label>Audio</label>
        <input type="file" (change)="onFileSelected($event)" accept=".mp3,.wav" />
      </div>

      <div class="duration-field">
        <label>Duración</label>
        <input type="number" formControlName="duration" />
      </div>
    </div>

    <div class="field artists-field">
      <label>Artistas</label>
      <input type="text" formControlName="artistsText" />
    </div>
  </div>

  <div class="song-editor-right">
    <label>Letra</label>
    <textarea formControlName="lyrics"></textarea>
  </div>
</form>
