<div>
  <h2 id="page-heading" data-cy="AlbumHeading">
    <span jhiTranslate="musicPlayerApp.album.home.title">Albums</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="musicPlayerApp.album.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-album"
        [routerLink]="['/album/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="musicPlayerApp.album.home.createLabel">Crear nuevo Album</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (albums().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="musicPlayerApp.album.home.notFound">Ningún Albums encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="musicPlayerApp.album.title">Title</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="coverImage">
              <div class="d-flex">
                <span jhiTranslate="musicPlayerApp.album.coverImage">Cover Image</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="releaseDate">
              <div class="d-flex">
                <span jhiTranslate="musicPlayerApp.album.releaseDate">Release Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="albumType">
              <div class="d-flex">
                <span jhiTranslate="musicPlayerApp.album.albumType">Album Type</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="artist.id">
              <div class="d-flex">
                <span jhiTranslate="musicPlayerApp.album.artist">Artist</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="genre.id">
              <div class="d-flex">
                <span jhiTranslate="musicPlayerApp.album.genre">Genre</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (album of albums(); track trackId(album)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/album', album.id, 'view']">{{ album.id }}</a>
              </td>
              <td>{{ album.title }}</td>
              <td>{{ album.coverImage }}</td>
              <td>{{ album.releaseDate | formatMediumDate }}</td>
              <td [jhiTranslate]="'musicPlayerApp.AlbumType.' + (album.albumType ?? 'null')">
                {{ { null: '', ALBUM: 'ALBUM', SINGLE: 'SINGLE', EP: 'EP', PODCAST_SERIES: 'PODCAST_SERIES' }[album.albumType ?? 'null'] }}
              </td>
              <td>
                @if (album.artist) {
                  <div>
                    <a [routerLink]="['/artist', album.artist.id, 'view']">{{ album.artist.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (album.genre) {
                  <div>
                    <a [routerLink]="['/genre', album.genre.id, 'view']">{{ album.genre.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-link btn-sm p-2"
                    (click)="playAlbum(album)"
                    [attr.aria-label]="'Reproducir ' + album.title"
                    title="Reproducir"
                  >
                    <fa-icon icon="play" class="text-success" />
                  </button>

                  <div class="dropdown">
                    <button
                      class="btn btn-link btn-sm p-2"
                      type="button"
                      id="dropdownAlbum{{ album.id }}"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      title="Más opciones"
                    >
                      <fa-icon icon="ellipsis-v" class="text-muted" />
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" [attr.aria-labelledby]="'dropdownAlbum' + album.id">
                      <li>
                        <a [routerLink]="['/album', album.id, 'view']" class="dropdown-item" data-cy="entityDetailsButton">
                          <fa-icon icon="eye" [fixedWidth]="true" />
                          <span jhiTranslate="entity.action.view">Ver detalles</span>
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['/album', album.id, 'edit']" class="dropdown-item" data-cy="entityEditButton">
                          <fa-icon icon="pencil-alt" [fixedWidth]="true" />
                          <span jhiTranslate="entity.action.edit">Editar</span>
                        </a>
                      </li>
                      <li><hr class="dropdown-divider" /></li>
                      <li>
                        <button type="button" (click)="delete(album)" class="dropdown-item text-danger" data-cy="entityDeleteButton">
                          <fa-icon icon="trash" [fixedWidth]="true" />
                          <span jhiTranslate="entity.action.delete">Eliminar</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (albums().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
