<div>
  <h2 id="page-heading" data-cy="PlayHeading">
    <span jhiTranslate="musicPlayerApp.play.home.title">Plays</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="musicPlayerApp.play.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-play"
        [routerLink]="['/play/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="musicPlayerApp.play.home.createLabel">Crear nuevo Play</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (plays().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="musicPlayerApp.play.home.notFound">Ningún Plays encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="playedAt">
              <div class="d-flex">
                <span jhiTranslate="musicPlayerApp.play.playedAt">Played At</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="durationListened">
              <div class="d-flex">
                <span jhiTranslate="musicPlayerApp.play.durationListened">Duration Listened</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="user.id">
              <div class="d-flex">
                <span jhiTranslate="musicPlayerApp.play.user">User</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="song.id">
              <div class="d-flex">
                <span jhiTranslate="musicPlayerApp.play.song">Song</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (play of plays(); track trackId(play)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/play', play.id, 'view']">{{ play.id }}</a>
              </td>
              <td>{{ play.playedAt | formatMediumDatetime }}</td>
              <td>{{ play.durationListened }}</td>
              <td>
                {{ play.user?.id }}
              </td>
              <td>
                @if (play.song) {
                  <div>
                    <a [routerLink]="['/song', play.song.id, 'view']">{{ play.song.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/play', play.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/play', play.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(play)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
