<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (artist(); as artistRef) {
      <div>
        <h2 data-cy="artistDetailsHeading"><span jhiTranslate="musicPlayerApp.artist.detail.title">Artist</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ artistRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="musicPlayerApp.artist.name">Name</span></dt>
          <dd>
            <span>{{ artistRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="musicPlayerApp.artist.bio">Bio</span></dt>
          <dd>
            <span>{{ artistRef.bio }}</span>
          </dd>
          <dt><span jhiTranslate="musicPlayerApp.artist.image">Image</span></dt>
          <dd>
            <span>{{ artistRef.image }}</span>
          </dd>
          <dt><span jhiTranslate="musicPlayerApp.artist.country">Country</span></dt>
          <dd>
            <span>{{ artistRef.country }}</span>
          </dd>
          <dt><span jhiTranslate="musicPlayerApp.artist.verified">Verified</span></dt>
          <dd>
            <span>{{ artistRef.verified }}</span>
          </dd>
          <dt><span jhiTranslate="musicPlayerApp.artist.createdAt">Created At</span></dt>
          <dd>
            <span>{{ artistRef.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="musicPlayerApp.artist.songs">Songs</span></dt>
          <dd>
            @for (songs of artistRef.songses; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/song', songs.id, 'view']">{{ songs?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/artist', artistRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
